/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.weatherDiv{
margin: 0 auto;
text-align: center;
font-family: 'Karla', sans-serif;
font-size: 30px;
width: 300px;
border: 1px;    
background-color: rgb(212, 212, 212);
border-radius: 15px;
padding: 20px;
}

.weatherDiv h1{
    font-family: 'Karla', sans-serif;
    font-size: 42px;
}

#p2{
    font-size: 55px;
}

